/Euler1/.gradle/
/Euler2/.gradle/
/Euler1/build/
/Euler2/build/
/Euler3/.gradle/
/Euler3/build/
/Euler4/.gradle/
/Euler4/build/
/Euler5/.gradle/
/Euler5/build/
/Euler6/.gradle/
/Euler6/build/
/euler7/.gradle/
/Euler8/.gradle/
/Euler9/.gradle/
/Euler10/.gradle/
/Euler11/.gradle/
/Euler12/.gradle/
/Euler12/build/
/Euler13/.gradle/
/Euler9/build/